h1 {
    color: #000000;
    font-family: 'Barlow Condensed', sans-serif;
    
}
h2{
    color: #8A838C;
    font-family: 'Cormorant Garamond', serif;
}
button{
    color: #fff;
    background-color: #4D4D4D;
}
input{
    color: #fff;
    background-color: #8A838C;
    display: block;
    margin: 10px;

    
    
}
body{
    background-color: #23014D;
   /*Ancho del dispositivo*/
    width: 80vw;
    /*Altura del dispositivo*/
    height: 80vh;
}

li{
    display: inline;
    margin: 50px;
    font-family: 'Viga', sans-serif;
}
nav{
    display: inline-block;
    text-align: center;
    margin: 12px;
    border: 20px;
    width: 75%;
    padding: 10px;
    background-color: #4D4D4D;
    color: #23014D;
}
div{
    display: inline;
    width: 15% ;
}
a{
    text-decoration: none;
    padding: 12px;
    vertical-align: middle;
}
img{
    width: 90px;
}
ul{
    display: inline;
}
html {font-size: 70%;
}
@media (min-width: 600px){
    font-size: 100%;
}
.text{
    font-size:  2rem;
    margin: 1em;
}